<a href="https://colab.research.google.com/github/JanWayne101/58002-OOP/blob/main/Loop_Statement_Godin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop

In [5]:
week = ["Sunday", "Monday", "Thuesday", "Thursday", "Friday", "Saturday"]
for x in week:
 print(x)

Sunday
Monday
Thuesday
Thursday
Friday
Saturday

For Loop Through String

In [7]:
for x in "week":
   print(x)

w
e
e
k

For Loop using break statement

In [8]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Thuesday
Thursday

To display only Thursday

In [11]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Range() Function

In [12]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

In [16]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested Loop

In [25]:
adjective = ["red", "big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [28]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

While loop using break statement

In [29]:
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [30]:
i = 1
while i<=6:
  if i == 3:
    print(i)
    break
  i+=1

3

In [48]:
adjective = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in adjective:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [38]:
i = 3
while i<=10:
  print(i)
  if i == 9:
    break
  i+=1

3
4
5
6
7
8
9

In [47]:
i = 9
while i>=3:
  print(i)
  if i == 3:
    break
  i-=1

9
8
7
6
5
4
3

In [50]:
i = 0
while i<=10:
  print("Hello", i)
  if i == 10:
    break
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10